In [ ]:
import pandas as pd

unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
users = pd.read_csv('movielens/users.dat',sep='::', header=None, names=unames)

rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('movielens/ratings.dat',
                        sep='::', header=None, names=rnames)

mnames = ['movie_id', 'title', 'genres']
movies = pd.read_csv('movielens/movies.dat',sep='::', header=None, names=mnames, encoding='cp1252')

rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('movielens/ratings.dat',sep='::', header=None, names=rnames)

In [10]:
movielens = pd.merge(pd.merge(ratings, users), movies)

In [18]:
movielens.gender.value_counts()

M    753769
F    246440
Name: gender, dtype: int64

In [19]:
movie_gender = movielens.pivot_table(values='rating', index='title', columns='gender', aggfunc=['mean', 'size'])
movie_gender['totalratings'] = movie_gender[('size', 'F')] + movie_gender[('size', 'M')]

In [27]:
sorted_ratingcnt = movie_gender.sort_values(by='totalratings', ascending=False)
sorted_ratingcnt[:5]

                                                        mean             size  \
gender                                                     F         M      F
title
American Beauty (1999)                              4.238901  4.347301  946.0
Star Wars: Episode IV - A New Hope (1977)           4.302937  4.495307  647.0
Star Wars: Episode V - The Empire Strikes Back ...  4.106481  4.344577  648.0
Star Wars: Episode VI - Return of the Jedi (1983)   3.865237  4.069058  653.0
Jurassic Park (1993)                                3.579407  3.814197  573.0

                                                           totalratings
gender                                                   M
title
American Beauty (1999)                              2482.0       3428.0
Star Wars: Episode IV - A New Hope (1977)           2344.0       2991.0
Star Wars: Episode V - The Empire Strikes Back ...  2342.0       2990.0
Star Wars: Episode VI - Return of the Jedi (1983)   2230.0       2883.0
Jurassic Park (1993)                                2099.0       2672.0

In [34]:
active_ratings = movie_gender[movie_gender.totalratings >= 250]

In [37]:
sorted_fratingcnt = active_ratings.sort_values(by=('mean', 'F'), ascending=False)
sorted_fratingcnt[:5]

                                                        mean             size  \
gender                                                     F         M      F
title
Close Shave, A (1995)                               4.644444  4.473795  180.0
Wrong Trousers, The (1993)                          4.588235  4.478261  238.0
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)       4.572650  4.464589  117.0
Wallace & Gromit: The Best of Aardman Animation...  4.563107  4.385075  103.0
Schindler's List (1993)                             4.562602  4.491415  615.0

                                                           totalratings
gender                                                   M
title
Close Shave, A (1995)                                477.0        657.0
Wrong Trousers, The (1993)                           644.0        882.0
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)        353.0        470.0
Wallace & Gromit: The Best of Aardman Animation...   335.0        438.0
Schindler's List (1993)                             1689.0       2304.0